<label>New Username: <input type="text" id="rusername" name="newusername"></label>
<br><br>
<label>Password: <input type="password" id="rpassword" name="password"></label>
<br><br>
<label>Re-enter password: <input type="password" id="rpassword2" name="password2"></label>
<br><br><br>
<input id="registerSubmit" type="button" value="Join!" onclick="register()">
&nbsp;
<input id="backBtn" type="button" value="Back" onclick="restore()">

