<label>Privacy: <select id= "privacy">
    <option value= "public" >public</option>
    <option value= "private">private</option>
</select>
<br>
<br>
<br>
<input type="button" onclick= "changePrivacy()" value="Change">
<br>
<br>
<label>Delete: <input type="text" id="delete" placeholde="Enter User"></label>
<br>
<br>
<br>
<input type="button" onclick= "deleteAllow()" value="Delete">
<br>
<br>
<br>
<label>Allow: <input type="text" id="allows" placeholde="Enter User"></label>
<br>
<br>
<br>
<input type="button" onclick= "addAllow()" value="Add">
&nbsp;
<input type="button" onclick= "restoreRedirect()" value="Back">

