<input type="button" onclick= "mainPage()" value="Main Page">
&nbsp;
<input type="button" onclick= "privacyForms()" value="Privacy">
&nbsp;
<input type="button" onclick= "messagePage()" value="Messages">
&nbsp;
<input type="button" onclick= "logOut()" value="Log Out">
&nbsp;
