<input type="text" id= "receiver" placeholder="Enter recipient">
<br><br>
<textarea id= "messageText" rows="5" cols="60" placeholder="Enter message here"></textarea>
<br><br>
<input type="button" value="Send" id="sendButton" onclick="sendMessage()">
<input id="cancelBtn" type="button" value="Cancel" onClick="restoreUser()">
<br><br>