<label>Username: <input type="text" id="otherUser" placeholde="searchuser"></label>
<br>
<br>
<br>
<input type="button" onclick= "getOtherPage()" value="Search">
&nbsp;
<input type="button" onclick= "restoreOther()" value="Back">

