<label>Username: <input type="text" id="otherUser" placeholde="searchuser"></label>
<br>
<br>
<br>
<input type="button" onclick= "getUserPage()" value="Search">
&nbsp;
<input type="button" onclick= "restoreMain()" value="Back">

